<div class="container">
    <h1>Todo list</h1>
    <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
      <div class="mb-3">
        <label for="tache" class="form-label">Tache</label>
        <input type="text" class="form-control" id="tache" ngModel name="task" placeholder="entre la tache" required>
        <div *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">obligatoire</div>
      </div>
      <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">ajouter</button>
    </form>
  
    <hr>
    <table class="table">
      <thead>
        <tr>
  
          <th scope="col">tache</th>
          <th scope="col">terminer</th>
          <th scope="col">suprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taskArray; index as i">
          <td [ngClass]="{'completed': item.isCompleted}">{{ item.taskName }}</td>
          <td>
            <input (change)="onCheck(i)" id="myCheckbox" type="checkbox" [checked]="item.isCompleted">
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Supprimer</button>
          </td>
        </tr>
  
      </tbody>
    </table>
  
  </div>